.trade-crypto {
  width: 85%;

  margin-left: auto;
  display: flex;
  align-items: center;
  padding-bottom: 50px;
}

.trade-crypto .left-crypto {
  flex: 1;
}

.trade-crypto h4.header {
  font-size: 42px;
  width: 470px;
  line-height: 55px;
  margin-bottom: 0px;
}

.trade-crypto p.desc {
  color: #667085;
  width: 440px;
  line-height: 30px;
}

.trade-crypto .right-crypto {
  flex: 1;
}

.trade-crypto .left-crypto img {
  width: 400px;
}

.trade-crypto .download-group {
  display: flex;
  gap: 20px;
  justify-content: left;
}

@media (max-width: 1000px) {
  .trade-crypto {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: normal;
    margin-right: auto;
    width: 100%;
    gap: 50px;
    padding-top: 0px;
  }

  .trade-crypto h4.header {
    font-size: 32px;
    width: 100%;
    text-align: center;
    line-height: 50px;
    width: 300px;
    margin: 0 auto;
  }

  .trade-crypto p.desc {
    font-size: 16px;
    width: 320px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
  }

  .trade-crypto .left-crypto img {
    width: 80%;
  }

  .trade-crypto .download-group {
    gap: 30px;
    padding: 20px;
    justify-content: center;
  }
}
