.why-container {
  width: 85%;
  margin: 0 auto;
  /* display: none; */
}

.why-container h4 {
  font-size: 24px;
  margin-top: 0px;
  text-align: center;
}

.why-container .why-choose {
  display: flex;
  justify-content: space-between;
  text-align: center;
  gap: 50px;
  padding: 20px;
}

.why-container .why-choose .why-left {
  background: #f9ffea;
  padding: 20px;
  flex: 1;
  border-radius: 20px;
  box-sizing: border-box;
}

.why-container .why-choose .why-right {
  background-color: #f9f7ff;
  padding: 20px;
  flex: 1;
  border-radius: 20px;
}

.why-container .why-choose h4 {
  font-size: 17px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  line-height: 30px;
  margin-bottom: 0px;
  margin-top: 10px;
  color: #1d6a4b;
}

.why-container .why-choose p {
  font-size: 15px;
  text-align: center;
  width: 400px;
  margin: 0 auto;
  line-height: 26px;
  color: #101828;
  margin-top: 15px;
  padding-bottom: 10px;
}

@media (max-width: 1000px) {
  .why-container {
    width: 100%;
    box-sizing: border-box;
  }

  .why-container .why-choose {
    flex-direction: column;
  }
}
