.testimonial-section {
  background-color: #1d6a4b;
  color: white;
  padding: 60px 0;
  text-align: center;
}

.testimonial-header h2 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.stars {
  color: gold;
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial-header p {
  font-size: 15px;
  color: #cccccc;
  line-height: 30px;
}

.testimonial-content-container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 40px 20px;
  overflow-x: hidden;
  box-sizing: border-box;
}

.testimonial-slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 30px;
  padding-right: 40px; /* Prevent last card from getting cut off */
  scrollbar-width: none;
}

.testimonial-slider::-webkit-scrollbar {
  display: none;
}

.testimonial-card {
  background-color: white;
  color: black;
  border-radius: 20px;
  padding: 25px;
  min-width: 400px;
  max-width: 400px;
  flex: 0 0 auto;
  text-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 10px;
}

.name {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  color: #16813b;
}

.message {
  font-size: 14px;
  margin-top: 10px;
  line-height: 1.5;
}

.role {
  font-size: 15px;
  color: #666;
  display: block;
  margin-top: 15px;
  text-align: center;
}

.next-arrow {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: #b4f52d;
  border: none;
  font-size: 26px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}
.stars {
  margin: 10px 0px;
}

.company-container {
  width: 85%;
  margin: 0 auto;
  padding: 30px 0px;
  padding-bottom: 50px;
}
.company-header {
  padding-top: 30px;
}

.company-container .company-header p {
  margin-top: 6px;
  color: #16813b;
}
.company-container h4 {
  margin: 0px;
  font-size: 20px;
  line-height: 34px;
}
.company-info {
  padding-top: 30px;
}

.company-info p {
  font-size: 17px;
  line-height: 30px;
}

.company-container ul {
  margin: 0px;
  padding: 0px;
  padding-left: 20px;
}

.company-container ul li {
  font-size: 17px;
  margin-bottom: 20px;
}
@media (max-width: 1000px) {
  .testimonial-section {
    padding: 20px;
  }
  .next-arrow {
    display: none;
  }

  .testimonial-slider {
    padding: 0 10px;
    gap: 30px;
  }

  .testimonial-card {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-right: 0; /* Prevent extra space */
  }

  .testimonial-content-container {
    padding: 40px 0; /* Remove side padding on container */
  }
  .company-container {
    width: 90%;
  }
}
